@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,body{
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
}
.wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001f39;
}
.closed{
    border: 1px #ffffff solid;
}
.closed__text{
    margin: 5px;
    padding: 25px;
    background-color: #ffffff;
    color:#001f39;
    font-size: 20px;
}
.copyright{
    text-align: right;
    margin-top: 7px;
    color: #ffffff;
    font-size: 11px;
}
