.side-header {
    height: 40px;
    font-size: 14px;
    color: var(--font-accent);
    border-bottom: 1px solid var(--secondary-bg);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.side-body {
    padding: 3px;
    overflow: auto;
    user-select: none;
}

.side-body .ext-ts {
    color: var(--font-accent);
}

.side-body .ext-ts:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: auto;
}
